<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>会員名</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= customer.introduction %></th>
  </tr>
</table>
<div>
  <%= link_to "編集", edit_customer_path, class: "glyphicon glyphicon-pencil btn btn-success ml-4" %>
  <%= link_to "退会", customers_unsubscribe_path, data: { confilm: "本当に退会しますか？" },class: "glyphicon glyphicon-tint btn btn-danger ml-4"%>
</div>
<div>
  <%= link_to "ブックマーク一覧", post_bookmarks_path(@post), class: "glyphicon glyphicon-pencil btn btn-success ml-4" %>
</div>