<!--<div class='container'>-->
  <div class='row'>

    <div class='col-md-6'>
      <h2 class="mt-3">見どころ</h2>
  		<div class="text-center">
  		  <p><%= image_tag @post.get_image, size:"700x400" %></p>
  		</div>
  		<table class='table text-center'>
  		  <tr>
  		    <td><%= link_to(@post.customer) do %>
            <%= image_tag @post.customer.get_profile_image, size:"50x50" %><br>
            <%= @post.customer.name %>
            <% end %>
          </td>
          <td><%= @post.castle %></td>

          <% if @post.bookmarked_by?(current_customer) %>
            <td><%= link_to "ブックマーク解除", post_bookmark_path(@post), method: :delete %></td>
          <% else %>
            <td><%= link_to "ブックマーク", post_bookmarks_path(@post), method: :post %></td>
          <% end %>

          <% if @post.customer_id == current_customer.id %>
            <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <div style="margin-left: 90px;">
        <h5>感想</h5>
        <div>
          <%= @post.body %>
        </div>
      </div>
    </div>

    <div class='col-md-6 mt-5'>
      <div class='comment'>
        <div class='col-md-8'>
          <div id="comments-index">
            <%= render "public/comments/index", post: @post %>
          </div>
          <div id="comments-form" class="text-center" style="position: fixed; bottom: 100px; width: 600px;">
            <%= render "public/comments/form", post: @post, comment: @comment %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->