<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">見どころ投稿</h2>
      <%= render 'form', post: @post_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>見どころ</h2>
  		<div>
  		  <p><%= image_tag @post.get_image, size:"700x400" %></p>
  		</div>
  		<table class='table'>
  		  <tr>
  		    <td><%= link_to(@post.customer) do %>
            <%= image_tag @post.customer.get_profile_image, size:"50x50" %><br>
            <%= @post.customer.name %>
            <% end %>
          </td>
          <td><%= @post.castle %></td>

          <td class="comments-counter">
            <%= render "public/comments/counter", post: @post %>
          </td>
          <% if @post.bookmarked_by?(current_customer) %>
            <td><%= link_to "ブックマーク解除", post_bookmark_path(@post), method: :delete %></td>
          <% else %>
            <td><%= link_to "ブックマーク", post_bookmarks_path(@post), method: :post %></td>
          <% end %>

          <% if @post.customer_id == current_customer.id %>
            <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <div>
        <%= @post.body %>
      </div>
      <div id="comments-form">
        <%= render "public/comments/form", post: @post, comment: @comment %>
      </div>
      <div id="comments-index">
        <%= render "public/comments/index", post: @post %>
      </div>
    </div>
  </div>
</div>