<tr id="comment__line--<%= comment.id %>" >
  <td class="name pt-2" style="font-size: 15px;">
    <%= link_to customer_path(comment.customer) do %>
      <%= comment.customer.name %>
    <% end %>
  </td>
  <td class="comment" style="font-size: 15px;">: <%= comment.comment %></td>
  <td class="text-right">
    <% if comment.customer == current_customer %>
      <%= link_to "削除", comment_path(comment), method: :delete, class: "btn btn-sm btn-danger rounded-pill pull-right", remote: true %>
    <% end %>
  </td>
</tr>