<% if customers.exists? %>
  <% customers.each do |customer| %>
    <table class="table">
      <tr>
        <th></th>
        <th>会員名</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><%= image_tag customer.get_profile_image, size: "100x100" %></td>
        <td class="pt-5"><%= customer.name %></td>
        <td class="pt-5">フォロー数：<%= customer.followings.count %></td>
        <td class="pt-5">フォロワー数：<%= customer.followers.count %></td>
        <td class="pt-5"><%= link_to "会員詳細", customer_path(customer) %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p class="h3">ユーザーはいません</p>
<% end %>