<div>
  <div>
    <div class="text-center">
      <h1 class="" style="font-size: 60px;">
        <strong>いざ、城攻め</strong><%= image_tag "castle.jpg", style: "height: 60px; width: 60px;" %>
      </h1>
      <%= image_tag "top_image.jpg", style: "height: 600px; width: 1000px;" %>
      <p class="mt-4" style="font-size: 20px;">城が大好きな人、趣味を探している人、外出を考えている人</p>
      <p class="" style="font-size: 20px;">みなさんで城を楽しみませんか？</p>
      <div class="text-center" style="margin: 20px;">
        <div class="btn-group col-2 center-block" style="">
          <%= link_to 'ゲストログイン', customers_guest_sign_in_path, class: "btn btn-outline-secondary rounded-pill mb-3 sign_in", method: :post %>
        </div>
        <div class="btn-group col-2 center-block">
          <%= link_to 'ロ グ イ ン',new_customer_session_path, class: "btn btn-outline-info rounded-pill mb-3 sign_in" %>
        </div>
        <div class="btn-group col-2 center-block">
          <%= link_to '新 規 登 録',new_customer_registration_path, class: "btn btn-outline-success rounded-pill mb-3 sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>