<div class= "text-center">
  <div class="row">
    <div class="col-mx-offset-1 col-sm-11">
      <h2 class="head-line title_h2">新規会員登録</h2>
      <%= form_with(model: @customer, url: registration_path(resource_name) )do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="field form-group mt-3 col-xs-6">
          <%= f.label :"名 前", class: "col-sm-3 control-label" %>
          <%= f.text_field :name, autofocus: true, class: "col-sm-3 form-control-static name" %>
        </div>

        <div class="form-group col-xs-6">
          <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
          <%= f.text_field :email, class: "col-sm-3 form-control-static"%>
        </div>

        <div class="field form-group col-xs-6">
          <%= f.label :"パスワード(6文字以上)", class: "col-sm-3 control-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-3 form-control-static" %>
        </div>

        <div class="field form-group col-xs-6">
          <%= f.label :"パスワード(確認用)", class: "col-sm-3 control-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-3 form-control-static" %>
        </div>

        <div class="actions">
          <%= f.label :"  ", class: "col-sm-3 form-control-static" %>
          <%= f.submit "新規登録",class: "btn btn-success btn-lg col-sm-3 rounded-pill" %>
        </div>
      <% end %>

      <div class="col-xs-6">
        <h4 class="head-line title_h2 text-center m-4">既に登録済みの方</h4>
        <p class="h4 new-link ml-4 text-center"><%= link_to "こちら", new_customer_session_path%>からログインしてください。</p>
      </div>
    </div>
  </div>
</div>
